//variables
@bgcolor: lightblue;
@b: body;
@fuente: arial;

@{b}{
    background: @bgcolor;
}

h1{
    font-family: @fuente;
}

//anidacion

.info{
    ul{
        li{
            a{
                color: green;
                font-size: 18px;
            }
        }
    }
}